

@import url('https://fonts.googleapis.com/css?family=Lato:400,900italic,900,700italic,700,400italic,300italic,300,100italic,100');* {
	padding: 0em;
	margin: 0em;
}
html {
	width: 100%;
}
body {
	background: black!important;
	font-family: Lato,Arial,Helvetica,sans-serif;
	font-size: 13px;
	color: #999;
	background-size: cover;
}
.forum_post pre {
	max-width: 660px;
	max-height: 500px;
	overflow: auto;
}
table tbody, .main_column, .sidebar, .box, .thin, .pad, #threadpoll, #poll {
	color: #b23d00!important;
}
a {
	text-decoration: none;
	border: none;
	color: #772800;
	-webkit-transition: color .25s ease-out;
	transition: color .25s ease-out;
}
a:hover {
	color: white;
}
a img {
	border: 0;
}
.forum_index tr td:nth-child(3n) a.tooltip:hover {
	color: #5AF;
}
table tbody a, .main_column a, .sidebar a, .box a {
	color: #ffa100;
	-webkit-transition: color .25s ease-out;
	transition: color .25s ease-out;
}
table tbody a:hover, .main_column a:hover, .sidebar a:hover, .box a:hover {
	color: #f7f7f7;
	-webkit-transition: color .25s ease-out;
	transition: color .25s ease-out;
}
#header a:hover, .linkbox a:hover {
	color: #f7f7f7;
}
a[onclick]:focus {
	outline: 0;
	background: transparent;
}
a[onclick]:active {
	outline: 0;
}
a[onclick^="AddArtistField"]:focus, a[onclick^="AddArtistField"]:active {
	outline: 0;
	background: transparent !important;
	padding: 0 !important;
}
.main_column a[href^="http"], .main_column a[href^="https"] {
	padding: 0 10px 0 0;
	background: url('https://i.imgur.com/3aI9aIh.png') 100% 4px no-repeat;
	background-size: 8px 8px;
}
.main_column a[href^="http"]:hover, .main_column a[href^="https"]:hover {
	padding: 0 10px 0 0;
	background: url('https://i.imgur.com/3aI9aIh.png') 100% 4px no-repeat !important;
	background-size: 8px 8px !important;
}
.forum_post a[href^="http"], .forum_post a[href^="https"] {
	padding: 0 10px 0 0;
	background: url('https://i.imgur.com/3aI9aIh.png') 100% 4px no-repeat;
	background-size: 8px 8px;
}
.forum_post a[href^="http"]:hover, .forum_post a[href^="https"]:hover {
	padding: 0 10px 0 0;
	background: url('https://i.imgur.com/3aI9aIh.png') 100% 4px no-repeat;
	background-size: 8px 8px;
}
.head a[href^="http"]:hover, .head a[href^="https"]:hover, .colhead a[href^="http"]:hover, .colhead a[href^="https"]:hover, .colhead_dark a[href^="http"]:hover, .colhead_dark a[href^="https"]:hover {
	padding: 0 10px 0 0;
	background: url('https://i.imgur.com/3aI9aIh.png') 100% 4px no-repeat;
	background-size: 8px 8px;
}
.forum_post a[href^="http"] img, .forum_post a[href^="https"] img {
	padding: 0 0 0 0;
	background: transparent !important;
	border: none;
}
.forum_post a[href^="http"] img:hover, .forum_post a[href^="https"] img:hover {
	padding: 0 0 0 0;
	background: transparent !important;
	border: none;
}
h1, h2, h3 {
	margin: 5px 0px;
	color: orange;
	font-family: Lato,Arial,Helvetica,sans-serif;
	text-align: center;
}
h1 a, h2 a, h3 a {
	color: orange;
}
ul#noty_bottomRight_layout_container a {
	color: #5AF;
}
h1 a:hover, h2 a:hover, h3 a:hover {
	text-decoration: underline;
}
.box h1, .box h2, .box h3, .box h4 .box2 h1, .box2 h2, .box2 h3, .box2 h4 {
	color: #f7f7f7;
}
.size3, .size4, .size5, .size6, .size7 {
	font-family: Lato,Arial,Helvetica,sans-serif;
}
li {
	margin: 5px 15px;
}
input {
	padding: 2px 3px;
}
textarea {
	padding: 2px 3px;
}
img {
	border: none;
}
span.size1 {
	font-size: 0.75em;
}
span.size2 {
	font-size: 1em;
}
span.size3 {
	font-size: 1.25em;
}
span.size4 {
	font-size: 1.5em;
}
span.size5 {
	font-size: 1.75em;
}
span.size6 {
	font-size: 2em;
}
span.size7 {
	font-size: 2.25em;
}
span.size8 {
	font-size: 2.5em;
}
span.size9 {
	font-size: 2.75em;
}
span.size10 {
	font-size: 3em;
}
ul.thin {
	margin: 0px 0px 0px 25px;
	padding: 0px;
}
ul.thin li {
	margin: 0px 0px;
	padding: 0px;
}
#wrapper {
	padding: 0 0 0 0;
}
#header {
	width: 100%;
	margin: 0 auto 0 auto;
	height: 70px;
	padding: 0 0 0 0;
}
#content {
	width: 960px;
	margin: 0 auto 0 auto;
	color: #DFDFDF;
	padding: 61px 0;
	overflow: hidden;
}
#alerts {
	background: transparent url('https://apollo.rip/static/styles/postmod/images/content.png');
	padding: 4px 9px;
	margin: -19px auto 0 auto;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
#footer {
	background: black;
	margin-top: 40px;
	width: 100%;
	text-align: center;
	padding: 1em 0;
	color: #772800;
	font-size: 12px;
	border-top: 1px solid #772800;
}
.forum_index tr td:nth-child(3n) a.tooltip {
	color: #bb4000;
}
#footer:after {
	content: url('https://apollo.rip/static/styles/postmod/images/gazelle.png');
}
#disclaimer_container {
	font-size: 7pt;
	color: #772800;
}
div#wrapper div#content td.label {
	vertical-align: middle;
}
#logo {
	width: 259px;
	height: 0px;
	margin-left: -129.5px;
	position: absolute;
	z-index: 2;
	background-size: 259px 62px;
	left: 50%;
	top: 66px;
	display: none;
}
#logo a {
	border: none;
	width: 259px;
	height: 0px;
	display: none!important;
}
#header a:active, #header a:focus, #logo a:hover, #logo a:active, logo a:focus {
	border: none;
	outline: none;
}
#menu {
	position: absolute;
	padding: 10px 0;
	font-family: Lato,Arial,Helvetica,sans-serif;
	font-size: 11pt;
	top: 37px;
	background: black;
	width: 100%;
	left: 0;
	text-align: center;
	border-bottom: 1px solid #bb4000;
}
#menu a {
	color: orange;
	text-decoration: none;
}
#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}
#menu > ul > li {
	margin: 0 15px;
}
#menu ul li {
	float: left;
	display: block;
}
#menu ul li a {
	font-family: Lato,Arial,Helvetica,sans-serif;
	font-size: 11pt;
	outline: none;
	padding: 0 0 2px 0;
}
#menu ul li a:hover {
	border-bottom: 3px solid #EFB34A;
	text-decoration: none;
}
#menu ul li a:active, #menu ul li a:focus {
	border-bottom: 3px solid #EFA82C;
}
#index #nav_index a, #torrents #nav_torrents a, #collage #nav_collages a, #requests #nav_requests a, #forums #nav_forums a, #chat #nav_irc a, #top10 #nav_top10 a, #rules #nav_rules a, #wiki #nav_wiki a, #staff #nav_staff a {
	border-bottom: 4px solid black;
}
div#userinfo ul {
	display: inline-block;
	padding: 0 2px;
}
div#userinfo ul li {
	padding: 0 2px;
}
#userinfo {
	position: absolute;
	color: orange;
	width: 100%;
	font-size: 11px;
	text-align: center;
	padding: 7px 0;
}
#userinfo_major {
}
#userinfo_username {
}
#userinfo_stats {
}
#userinfo_stats a {
}
#userinfo_stats li span {
	color: #bb4000;
}
#userinfo_minor {
}
#userinfo_minor li a {
	color: white;
}
#userinfo_stats li span.stat span.tooltip {
	color: #41a85f;
}
li#nav_subscriptions a {
	color: #5AF;
}
#userinfo img {
	margin-top: -5px;
}
#userinfo ul li {
	display: inline-block;
	margin: 0 0.1em;
	line-height: 20px;
	vertical-align: middle;
	padding: 0px;
}
#userinfo a, #alerts a {
	color: orange;
}
#userinfo b a {
	font-weight: normal;
	font-size: 0.9em;
}
#searchbars {
	position: absolute;
	top: 87px;
	width: 100%;
	background: black;
	left: 0;
	text-align: center;
}
#searchbars input {
	width: 106px;
	border: 1px solid #bb4000;
	padding: 3px 5px;
	font-family: Lato,Arial,Helvetica,sans-serif;
	background: black;
	color: #bb4000;
	-moz-border-radius: 2px;
	-webkit-border-radius: 3px;
}
#searchbars input:hover {
	color: white;
}
#menu > ul > li > a:hover {
}
#autocomplete {
	background: url('https://apollo.rip/static/styles/postmod/images/content.png');
	border: 1px solid #EEE;
	list-style: none;
}
#searchbars input:active, #searchbars input:focus {
}
#searchbars ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}
#searchbars ul li {
	display: inline;
	float: left;
	margin: 0;
	position: relative;
	list-style: none;
}
#searchbars ul li ul {
	display: block;
	position: absolute;
	top: 1em;
	left: 0;
	z-index: 1000;
	border: 1px solid #EEE;
	background: url('https://apollo.rip/static/styles/postmod/images/content.png');
	width: 12em;
	margin-top: 12px;
}
#searchbars ul li ul li {
	margin: 1px 0 1px 4px;
	padding: 0;
	display: block;
	width: 100%;
	cursor: pointer;
}
#searchbars ul li ul li.highlight {
	color: #4FD1FF;
}
#searchbars ul li form {
	display: inline;
	margin: 0;
}
#alerts {
	width: 230px;
	margin: 65px 0px 0px 338px;
	position: absolute;
	text-align: center;
	color: #f7f7f7;
}
#cat-selector ul {
	width: 100%;
}
#cat-selector ul li {
	display: inline;
	width: 12em;
	height: 1em;
	float: left;
}
#debug_report pre {
	width: 890px;
	overflow: auto;
}
td.cats_col, td.center.cats_col {
	border-right: none;
}
table.grouping > tbody > tr.torrent > td:first-child + td + td, table.no_grouping > tbody > tr.torrent > td:first-child + td, table.grouping > tbody > tr.group > td:first-child + td + td, table.grouping > tbody > tr.colhead > td:first-child + td + td, table.no_grouping > tbody > tr.group > td:first-child + td, table.no_grouping > tbody > tr.colhead > td:first-child + td {
	border-left: none;
}
.last_read {
	width: 15px;
	height: 15px;
	background: url('https://i.imgur.com/ILascFJ.png') no-repeat center center;
	margin-left: 5px;
	background-size: 15px 15px;
}
.last_read a {
	border: none;
	width: 100%;
	height: 100%;
	display: block;
}
.last_read a:hover {
	border: none;
}
.last_read a:active, .last_read a:focus {
	outline: 0;
}
.hidden {
	position: absolute;
	left: -10000px;
}
input.hidden {
	position: absolute;
	display: none;
}
.thin {
	width: 100%;
	margin: 0px auto;
	color: #DFDFDF;
}
.linkbox {
	text-align: center;
	padding: 5px;
	color: #b23d00;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.min_padding {
	padding: 0px;
	margin: 0px 0px;
}
p.min_padding {
	margin: 2px 0px;
}
.pad {
	padding: 1em;
}
.sidebar .pad {
	padding: 10px;
}
.vertical_space {
	margin-bottom: 10px;
}
.box {
	font-size: 14px;
	background-color: #190b00;
	margin-bottom: 10px;
	line-height: 1.5;
}
.box2 {
	font-size: 10pt;
	margin-bottom: 10px;
}
tr.colhead_dark td {
	padding: 7px 15px;
}
.pad h3, .pad h4, .padbox h3, .padbox h4 {
	margin-top: 0px;
	padding-top: 0px;
}
#forums .forum_post .body {
	max-width: 700px;
	padding: 15px 15px 15px 0;
}
.forum_post .body {
	padding: 15px;
}
.box ul.poll {
	font-size: 12px;
}
.forum_list a, .forum_list .colhead, .forum_index a, .forum_index .colhead {
	color: #bb4000;
}
.forum_list a:hover, .forum_index a:hover {
	color: #5AF;
}
.forum_list .colhead td, .forum_index .colhead td {
	padding-top: 6px;
	padding-bottom: 6px;
}
.forum_list .colhead, .forum_index .colhead {
	font-size: 14px;
	font-weight: 700;
}
.forum_list, .forum_index {
	font-size: 14px;
}
.forum_list h3, .forum_index h3 {
	font-size: 18px;
	text-align: left;
	margin-bottom: .25em;
	margin-top: 20px;
}
.sidebar {
	float: right;
	width: 245px;
}
.body {
	padding: 3px 10px 10px 10px;
}
.main_column {
	width: 692px;
	margin-top: 31px;
}
.main_column table {
	margin-bottom: 10px;
}
.main_column .box .body {
	font-size: 13px;
}
.tags {
	padding: 0px 0px 0px 20px;
	font-style: italic;
}
.tags a {
	color: #b23d00;
}
.group_torrent a {
	color: #e54e00;
}
.group_torrent a:hover {
	color: #5AF;
}
.tags a:hover {
	color: white;
}
.noborder {
	border: none;
}
ul.nobullet {
	list-style-type: none;
}
table {
	width: 100%;
	border-collapse: collapse;
	border: none;
}
tr {
	border: none;
}
tr.rowa {
	background-color: #140800;
}
tr.rowb {
	background-color: #190b00;
}
td, th {
	border: none;
	padding: 5px;
	text-align: left;
}
*, :before, :after {
	box-sizing: border-box;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.colhead, .colhead_dark, .head {
	padding: 6px 15px;
	background: black;
	color: #e54e00;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-color: #772800;
}
.colhead, .colhead_dark a, .head a {
	color: #f7f7f7;
}
.colhead, .colhead_dark a:hover, .head a:hover {
	color: white;
}
.colhead a, .colhead_dark a, .head a {
	color: #772800;
}
.colhead_dark a img:active, .colhead_dark a img:focus {
	outline: 0;
}
td.colhead, .colhead td, .colhead th {
	padding-left: 10px;
	padding-right: 10px;
	color: orange;
}
.colhead .sign, .colhead_dark .sign {
	padding: 0px 8px 0px 8px;
	vertical-align: middle;
	text-align: center;
	font-size: 12pt;
}
td.label {
	text-align: right;
	width: 180px;
}
table.slice {
	margin-top: -1px;
}
tr.peer_list {
	font-size: 12px;
}
tr.peer_list td {
	padding: 2px 0px 2px 2px;
}
.error_message {
	border: 1px solid #666;
	padding: 3px 0px 3px 0px;
	background-color: #AF2525;
	text-align: center;
	color: white;
}
.save_message {
	border: 1px solid #666;
	padding: 3px 0px 3px 0px;
	background-color: #F4E649;
	text-align: center;
	color: #492802;
}
.elem_error {
	border: 3px solid #B00D0D;
}
.hide {
	display: none;
}
ul.stats li {
	padding: 0px 0px 1px 0px;
	font-size: 12px;
}
ul.poll li {
	padding: 0px 0px 0px 10px;
	margin: 0px;
	clear: left;
}
ul.poll li.graph {
	margin-bottom: 3px;
	padding-left: 10px;
}
.show_torrents {
	width: 28px;
	height: 28px;
	background: url('https://i.imgur.com/qA3ULfm.png') no-repeat center center;
	background-size: 14px auto;
	-moz-opacity: 0.5;
	opacity: .50;
	filter: alpha(opacity=50);
}
.hide_torrents {
	width: 28px;
	height: 28px;
	background: url('https://i.imgur.com/WzEcqP8.png') no-repeat center center;
	background-size: 14px auto;
	-moz-opacity: 0.5;
	opacity: .50;
	filter: alpha(opacity=50);
}
.show_torrents_link {
	border: none;
	width: 28px;
	height: 28px;
	display: block;
}
.torrent_table a:active img, .torrent_table a:focus img {
	background-color: transparent !important;
}
.filter_torrents {
	width: 800px;
	margin: auto;
}
.filter_torrents div#ft_container {
	font-size: 12px;
}
div#ft_container tr {
	background: transparent;
}
h2 span {
	color: orange;
}
.filter_torrents .submit {
	text-align: right;
	padding-top: 5px;
}
#content form.search_form + .torrent_table {
	margin-top: 20px;
}
.cat_list tr td {
	border: none;
}
.torrent_table tr {
	vertical-align: top;
}
.torrent_table tr.group {
	background-color: #190b00;
}
.torrent_table tr.group_torrent {
	background-color: #190b00;
	border-bottom: 1px solid #331701;
	font-size: 11px;
}
#taglist {
	font-size: 11px;
}
.box.filter_torrents td {
	padding: 5px;
}
tr.group_torrent td, tr.group td, tr.torrent td {
	color: orange;
}
.torrent_table.grouping tr.torrent, .torrent_table.no_grouping tr.torrent {
	background-color: #1d1c1c;
}
.torrent_table div.tags {
	font-weight: normal;
}
.torrent_table tr .center {
	vertical-align: middle;
	text-align: center;
}
.group_torrent span {
	float: right;
}
.torrent span {
	font-weight: normal;
	float: right;
}
.nobr {
	white-space: nowrap;
}
#torrents .sign.snatches {
	height: 15px;
	width: 15px;
}
#torrents .sign.seeders, #torrents .sign.leechers {
	height: 15px;
	width: 11px;
}
#torrents #content .box.pad {
	background-color: transparent;
}
.unread_locked_sticky {
	background: url('https://dl.dropboxusercontent.com/u/33493663/what.cd/minimal_mod/minimal_mod_lock_sticky_unread.png') no-repeat center center;
	background-size: 14px 14px;
}
.read_locked_sticky {
	background: url('https://dl.dropboxusercontent.com/u/33493663/what.cd/minimal_mod/minimal_mod_lock_sticky.png') no-repeat center center;
	background-size: 14px 14px;
}
.read_sticky {
	background: url('https://dl.dropboxusercontent.com/u/33493663/what.cd/minimal_mod/minimal_mod_sticky.png') no-repeat center center;
	background-size: 14px 14px;
}
.unread_sticky {
	background: url('https://dl.dropboxusercontent.com/u/33493663/what.cd/minimal_mod/minimal_mod_sticky_unread.png') no-repeat center center;
	background-size: 14px 14px;
}
.unread_locked {
	background: url('https://dl.dropboxusercontent.com/u/33493663/what.cd/minimal_mod/minimal_mod_lock_unread.png') no-repeat center center;
	background-size: 14px 14px;
}
.read_locked {
	background: url('https://dl.dropboxusercontent.com/u/33493663/what.cd/minimal_mod/minimal_mod_lock.png') no-repeat center center;
	background-size: 14px 14px;
}
.unread {
	background: url('https://dl.dropboxusercontent.com/u/33493663/what.cd/minimal_mod/minimal_mod_balloon_unread.png') no-repeat center center;
	background-size: 14px 14px;
}
.read {
	background: url('https://dl.dropboxusercontent.com/u/33493663/what.cd/minimal_mod/minimal_mod_balloon.png') no-repeat center center;
	background-size: 14px 14px;
}
table.forum_post {
	margin: 20px 0px;
}
table.forum_post td {
}
table.forum_unread {
	border-top-width: 5px;
	border-top-style: solid;
	border-color: #b23d00;
}
td.avatar {
	width: 150px;
	padding: 0px;
}
div.main_column .forum_post td.body, table.forum_post td.body {
	font-size: 14px;
}
table.forum_post td.body {
	width: 690px;
	line-height: 1.5;
}
#quickreplypreview .forum_post {
	padding: 5px;
}
strong.quoteheader {
	color: orange;
}
blockquote {
	margin: 10px;
	padding: 10px;
	background: #261100;
	border: 1px dashed #512400;
}
tr.unreadpm {
	background-color: #E0EBEF;
}
.collage_images li {
	background-color: #F7F6F2;
	vertical-align: middle;
}
.permission_head {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}
.permissions {
	width: 930px;
	margin-left: auto;
	margin-right: auto;
}
.permission_container {
	float: left;
	width: 300px;
	padding: 5px;
}
.permission_container input {
	margin: 0px 3px 5px 0px;
	vertical-align: top;
}
.submit_container {
	clear: both;
	text-align: right;
}
ul .invitetree {
	margin: 0px 0px 0px 25px;
}
.invitetree li {
	list-style: none;
	margin: 10px 2px;
}
.head a:hover, .colhead a:hover, .colhead_dark a:hover, .head a:focus, .colhead a:focus, .colhead_dark a:focus {
	background: transparent !important;
	outline: 0;
}
.user_options .options_list li {
	margin: 0;
}
.poll {
	list-style: none;
	padding: 10px;
	margin: 5px;
}
.poll li {
	clear: both;
}
.poll .graph {
	padding: 0 0 5px 0;
}
.poll .graph span {
	display: block;
	height: 19px;
	float: left;
}
.poll .graph .left_poll {
	width: 9px;
	background: url('https://dl.dropboxusercontent.com/u/33493663/what.cd/minimal_mod/minimal_mod_poll_left.png') top left no-repeat;
	background-size: 9px 19px;
}
.poll .graph .center_poll {
	background: url('https://dl.dropboxusercontent.com/u/33493663/what.cd/minimal_mod/minimal_mod_poll_middle.png') top left repeat-x;
	background-size: 1px 19px;
}
.poll .graph .right_poll {
	width: 11px;
	background: url('https://dl.dropboxusercontent.com/u/33493663/what.cd/minimal_mod/minimal_mod_poll_bar_right.png') top left no-repeat;
	background-size: 11px 19px;
}
#musicbrainz_popup a {
	color: #000;
}
.curtain {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1001;
	-moz-opacity: 0.9;
	opacity: 0.90;
	filter: alpha(opacity=90);
	background: black 50% 0 no-repeat fixed;
}
.lightbox {
	position: fixed;
	text-align: center;
	top: 5%;
	left: 5%;
	width: 90%;
	height: 90%;
	padding: 0px;
	z-index: 1002;
	overflow: auto;
}
.lightbox img {
	max-width: 100%;
	max-height: 100%;
	background-color: transparent;
	z-index: -1;
}
input[type="button"], input[type="submit"] {
	background: #772f00;
	display: inline-block;
	padding: 3px 6px 4px;
	margin: 3px;
	color: orange;
	text-decoration: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border: 1px solid #5e2500;
	cursor: pointer;
}
input[type="button"]:hover, input[type="submit"]:hover {
	background-color: #1f1f1f;
	color: #f7f7f7;
}
input[type="button"]:active, input[type="submit"]:active {
	top: 1px;
}
input[type="button"]:active, input[type="submit"]:active, input[type="submit"]:focus {
	background: #f7f7f7;
	display: inline-block;
	padding: 3px 6px 4px;
	margin: 3px;
	color: #9a9a9a;
	text-decoration: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 2px;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	cursor: pointer;
}
input[type="text"], input[type="email"], input[type="password"], input[type="search"] {
	background: black;
	display: inline-block;
	padding: 3px;
	margin: 3px;
	text-decoration: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 2px;
	border: none;
	border: 1px solid #772f00;
	color: orange;
}
input[type="text"]:hover, input[type="text"]:focus, input[type="email"]:hover, input[type="email"]:focus, input[type="search"]:hover, input[type="search"]:focus, input[type="password"]:hover, input[type="password"]:focus {
	color: orange;
}
input[type="text"]:active, input[type="email"]:active, input[type="search"]:active, input[type="password"]:active {
	top: 1px;
}
input[disabled="disabled"] {
	background: #e0e0e0;
	color: #9a9a9a;
}
input[disabled="disabled"]:hover, input[disabled="disabled"]:focus, input[disabled="disabled"]:active {
	background-color: #e0e0e0;
	color: #969696;
}
select[disabled=disabled] {
	background: #4F4F4F;
	color: #DFDFDF;
}
select[disabled=disabled]:hover, select[disabled=disabled]:focus, select[disabled=disabled]:active {
	background-color: #4F4F4F;
	color: #DFDFDF;
}
select, select:active, select:focus {
	display: inline-block;
	margin: 3px;
	color: orange!important;
	text-decoration: none;
	border: 0;
	font-family: Lato,Arial,Helvetica,sans-serif;
	background: black;
}
option, option:active, option:focus {
	background: black;
	padding: 1px;
	margin: 0;
	color: orange;
	text-decoration: none;
	border: 0;
	font-family: Lato,Arial,Helvetica,sans-serif;
}
select:hover, option:hover {
	background: black;
	color: white;
}
#logchecker .thin, #logchecker h3, .log_outer, .log_outer h3 {
	color: #444;
}
.spellcheck {
	margin: 10px 0;
	font-size: 1.25em;
	font-weight: 700;
}
ul, ol {
	list-style-position: inside;
}
tr.torrent .bookmark > a:before {
	color: #646054;
}
tr.torrent .bookmark > a:after {
	color: #646054;
}
#requests .forum_post textarea {
	max-width: 409px;
}
.linkbox .brackets:before, .linkbox .brackets:after, .top10_quantity_links .brackets:before, .top10_quantity_links .brackets:after {
	color: #b23d00!important;
}
#userinfo_username .brackets:before {
	content: "[";
}
#userinfo_username .brackets:after {
	content: "]";
}
.field_div {
	margin-bottom: 10px;
}
.edit_changelog textarea {
	width: 600px;
}
.autocomplete-suggestions {
	background: #111;
}
.autocomplete-selected {
	background: #444;
}
div[class~=tooltipster-base] {
	background-color: #ECECEC;
	color: #444;
}
div[class~=tooltipster-content] > a {
	color: #0A84AF;
}
#settings_sections #submit, #settings_sections #settings_search {
	margin: 3px 0;
}
.vote_tag_up, .vote_artist_up, .vote_album_up, .small_upvote, .small_upvoted {
	color: green;
}
.vote_tag_down, .vote_artist_down, .vote_album_down, .small_downvote, .small_downvoted {
	color: red;
}
div.sidebar #event_div {
	margin-left: -50px;
}
.sidebar img {
	max-width: 225px;
}
.news_post img, .wiki_article img {
	max-width: 565px;
}
#reportsv2 .manage_form img {
	max-width: 622px;
}
input[type="search"] {
	font-size: 13px;
}
#menu > ul > li > a {
	padding: 10px;
	font-weight: 700;
}
.linkbox br {
	display: none;
}
.forum_list h3:nth-child(-n+2), .forum_index h3:nth-child(-n+2), table.forum_post:first-of-type {
	margin-top: 0;
}
table.forum_post:last-of-type {
	margin-bottom: 5px;
}


.collage_table {
	background: #190b00;;
}

form textarea, form input {
    max-width: 100%;
    background: black;
    color: orange;;
}

ul.collage_images img {
    height: 172px!important;
    width: 172px!important;
    padding: 0px;
    background: #190b00;
}

ul.collage_images li a {
    display: block;
    height: 172px!important;
    overflow: hidden;
}
ul.collage_images li {
    border: none;
    float: left;
    margin: 0;
    width: 172px!important;
    height: 172px!important;
    list-style: none;
    list-style-type: none;
}
ul.collage_images {
    padding: 0px;
    width: 689px!important;
    border-collapse: collapse;
}
